# Node.js dependencies
client/node_modules/
server/node_modules/

myzip.zip
# Package lock files
package-lock.json

# Build artifacts
build/
dist/
server/dist/
.vite/

# Environment variables
.env
server/.env

# Editor and system files
.DS_Store
.vscode/
server/.vscode/

# Logs and temporary files
*.log
*.lockb
server/*.log
server/*.lockb

# Additional ignored files
/src/old/

